body {
  padding: 0px 300px;
  background-color: lightgray;
  text-align: center;
  font-family: sans-serif;
}

.sendFilesButton {
  background-color: black;
  color: lightgray;
  padding: 20px;
  border-radius: 20px;
  width: 120px;
  font-size: 25px;
  border: white 1px solid;
  margin: auto;
}

#myfile {
  border: red 1px solid;
  padding: 4px
}

.sendFilesButton:hover {
  background-color: lightgray;
  color: black;
}
